/* App.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2, h3 {
  font-family: 'Helvetica', sans-serif;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

/* Styling Navbar */
nav {
  background-color: #343a40;
  padding: 10px 0;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: white;
  font-size: 18px;
}

nav ul li a:hover {
  color: #28a745;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #343a40;
  color: white;
  margin-top: 40px;
}
